@model Beursspel.Models.AdminViewModels.AdminBeursModel

@{
    if (Model == null)
    {
        ViewBag.Title = "Beurs Toevoegen";
    }
    else
    {
        ViewBag.Title = "Admin: " + Model.Beurs.Naam;
    }
    Layout = "_Layout";
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Bewerken</h3>
            </div>
            <div class="box-body">
                <form method="post" asp-action="SetBeurs">
                    <div class="form-group">
                        <label asp-for="Beurs.BeursId"></label>
                        <input asp-for="Beurs.BeursId" class="form-control" readonly="readonly"  />
                        <span asp-validation-for="Beurs.BeursId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Beurs.Naam"></label>
                        <input asp-for="Beurs.Naam" class="form-control"/>
                        <span asp-validation-for="Beurs.Naam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Beurs.AantalLeden"></label>
                        <input asp-for="Beurs.AantalLeden" class="form-control"/>
                        <span asp-validation-for="Beurs.AantalLeden" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Beurs.Omschrijving"></label>
                        <textarea asp-for="Beurs.Omschrijving" class="form-control" id="omschrijving"></textarea>
                        <span asp-validation-for="Beurs.Omschrijving" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Voorvertoning</label>
                        <p id="markdown-preview"></p>
                    </div>
                    <div class="form-group">
                        <label asp-for="NieuweWaarde"></label>
                        <input asp-for="NieuweWaarde" class="form-control"/>
                        <span asp-validation-for="NieuweWaarde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Beurs.BeschikbareAandelen"></label>
                        @{ var aantal = Settings.StartBeursBeschikbareAandelen; }
                        @if (Model != null)
                        {
                            aantal = Model.Beurs.BeschikbareAandelen;
                        }
                        <input asp-for="Beurs.BeschikbareAandelen" class="form-control" value="@aantal"/>
                        <span asp-validation-for="Beurs.BeschikbareAandelen" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function() {
            @if (Model != null)
            {
                @:$("#markdown-preview").html(markdownify('@Model.Beurs.Omschrijving'));
            }
        });

        $("#omschrijving").on('input',function(e) {
            $("#markdown-preview").html(markdownify(e.target.value));
        });
    </script>
}
