  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">NAVIGATIE</li>
      <li >
        <a href="@Url.Action("Index", "Home")">
          <i class="fa fa-dashboard"></i> <span>Home</span>
        </a>
      </li>
      <li >
        <a href="@Url.Action("Index", "Beurzen")">
          <i class="fa fa-line-chart"></i> <span>Beurzen</span>
        </a>
      </li>
      <li class="header">ADMIN</li>
      <li>
        <a href="@Url.Action("Users", "Admin")">
          <i class="fa fa-dashboard"></i> <span>Gebruikers</span>
        </a>
      </li>
    </ul>
</section>
<!-- /.sidebar -->
