@model List<Beursspel.Models.Beurzen.Beurs>

@{
    ViewBag.Title = "Beurzen";
    Layout = "_Layout";
}

@section style
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.min.css"/>
    </environment>

}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Beurzen</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="beurzen" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Beursnaam</th>
                        <th>Waarde</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var beurs in Model)
                    {
                        <tr onclick="window.document.location='/Beurzen/Beurs/@beurs.BeursId'" style="cursor: pointer">
                            <td>
                                @beurs.Naam
                            </td>
                            <td>
                                @beurs.HuidigeWaarde
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#beurzen').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        })
    </script>
    @await Html.PartialAsync("_DataTableScriptsPartial")
}
