@model Beursspel.Models.BeursViewModels.BeursLijstModel

@{
    ViewBag.Title = "Beurzen";
    Layout = "_Layout";
}

@section style
{
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-datatables/dataTables.bootstrap.min.css"/>
    </environment>

}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Beurzen</h3>
            </div>
            <div class="box-body table-responsive">
                <table id="beurzen" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Beursnaam</th>
                        <th>Waarde</th>
                        <th>Beschikbare Aandelen</th>
                        <th>Jouw Aandelen</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var beurs in Model.Beurzen)
                    {
                        <tr onclick="window.document.location='/Beurzen/Beurs/@beurs.BeursId'" style="cursor: pointer">
                            <td>
                                @beurs.Naam
                            </td>
                            <td>
                                @beurs.HuidigeWaarde
                            </td>
                            <td>
                                @beurs.BeschikbareAandelen
                            </td>
                            <td>
                                @if (Model.AandeelAantallen.ContainsKey(beurs.BeursId))
                                {
                                    @Model.AandeelAantallen[beurs.BeursId]
                                }
                                else
                                {
                                    @:0
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#beurzen').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                "order": [[1, "desc"]],
                language: {
                    "sProcessing": "Bezig...",
                    "sLengthMenu": "_MENU_ resultaten weergeven",
                    "sZeroRecords": "Geen resultaten gevonden",
                    "sInfo": "_START_ tot _END_ van _TOTAL_ resultaten",
                    "sInfoEmpty": "Geen resultaten om weer te geven",
                    "sInfoFiltered": " (gefilterd uit _MAX_ resultaten)",
                    "sInfoPostFix": "",
                    "sSearch": "Zoeken:",
                    "sEmptyTable": "Geen resultaten aanwezig in de tabel",
                    "sInfoThousands": ".",
                    "sLoadingRecords": "Een moment geduld aub - bezig met laden...",
                    "oPaginate": {
                        "sFirst": "Eerste",
                        "sLast": "Laatste",
                        "sNext": "Volgende",
                        "sPrevious": "Vorige"
                    },
                    "oAria": {
                        "sSortAscending":  ": activeer om kolom oplopend te sorteren",
                        "sSortDescending": ": activeer om kolom aflopend te sorteren"
                    }
                }
            });
        })
    </script>
    @await Html.PartialAsync("_DataTableScriptsPartial")
}
