@model HomeModel

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

@section style{
  <link rel="stylesheet" href="lib/fullCalendar/fullcalendar.min.css" />
}

<div class="row">
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="fa fa-thumbs-up"></i>

        <h3 class="box-title">Welkom!</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <p>
          Hier komt dus echt een moeilijk gaaf stukje over wat het precies is en hoe het werkt. <br/>
          Ben daar nu alleen te lui voor.
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-md-6">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="fa fa-eur"></i>

        <h3 class="box-title">Top Scores</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table">
          <thead>
          <tr>
            <th>Naam</th>
            <th>Waarde</th>
          </tr>
          </thead>
          @foreach (var speler in Model.TopScores)
          {
            <tr>
              <td>@speler.Naam</td>
              <td>@speler.Waarde.ToString("F2")</td>
            </tr>
          }
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <i class="fa fa-calendar"></i>

        <h3 class="box-title">Geplande Tellingen</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div id="planning"></div>

      </div>
    </div>
  </div>
</div>

@section scripts{
  <script src="lib/jquery-datatables/jquery.dataTables.js"></script>
  <script src="lib/bootstrap-datatables/dataTables.bootstrap.js"></script>
  <script src="lib/moment/moment.min.js"></script>
  <script src="lib/fullCalendar/fullcalendar.min.js"></script>
  <script src='lib/fullCalendar/nl.js'></script>
  <script>
    $(document).ready(function() {
      $('#planning').fullCalendar({
        themeSystem: 'bootstrap3',
        defaultView: "listMonth",
        noEventsMessage: "Nog geen telmomenten",
        validRange: {
          start: '2017-11-01',
          end: '2017-12-13'
        },
        showNonCurrentDates: false,
        height: 500,
        events: [
          @foreach (var telMoment in Model.TelMomenten)
          {
            @:{title: " @telMoment.Reden", start: "@telMoment.Tijd.ToString("o")"},
          }
        ]
      });
    });
  </script>
}